*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}

.box1{
	width: 100%;
	height: 100vh;
	background:url(../img/beijing.webp) center/cover  no-repeat;
	position: relative;
}
.box1-top{
	width: 100%;
	height: 70px;
}
.box1-top h2{
	float: left;
	line-height: 70px;
	margin-left: 4%;
	color: white;
}
.box1-top ul{
	list-style: none;
	float: right;
	line-height: 70px;
	margin-right:4%;
	color: white;
}
.box1-top li{
	float: left;
	margin-left: 40px;
}
.box1-con{
	text-align: center;
	position: absolute;
	top: 33%;
	left: 50%;
	color: white;
}
.box1-con p{	
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin-left: -100px;
	margin-bottom: 30px;
}
.box1-con h1{
	margin-left: -242px;
	margin-top: 21%;
}
.box1-con h3{
	margin-left: -242px;
	margin-top: 15%;
	font-weight: 400;
	font-size: 20px;
}
.box1-caidan{
	display: none;
}
.box1-cd{
	display: none;
}
/*个人简介*/
.box2{
	padding-bottom: 120px;
	overflow: hidden;
}
.jj1{
	width: 160px;
	font-weight: 400;
	margin: 110px 0px 20px 50px;
	font-size: 40px;
	border-bottom: 4px solid #f7eccb;
}
.jj2{
	margin: 0px 0px 60px 50px;
	color: #828282;
}
.box2-con{
	width: 100%;
	height: 500px;
	position: relative;
}
.box2-left{
	position: absolute;
	width: 30%;
	left: -500px;
	max-width: 400px;
	margin-left: 50px;
	display: inline-block;
	transition: all 1s;  	
}
.box2-left img{
	width: 100%;
}
.box2-right{
	position: absolute;
	text-align: left;
	top: 0;
	right:-1000px;
	width: 50%;
	transition: all 1s;  
}
.box2-right h2{
	font-size: 22px;
	margin-bottom: 20px;
	transition: all 1s;  	
}
.box2-right p{
	font-size: 15px;	
	margin-bottom: 25px;
}
.box2-right p span{
	color: rgb(254, 189, 1);
}
.box2-right h3{
	font-size: 15px;
	color: rgb(130, 130, 130);
	margin-bottom: 45px;
}
.box2-right li{
	width: 47%;
	height: 45px;
	float: left;
}
.box2-right li:last-child {
    width: 0%;
}
.box2-right li:nth-child(2n){
	margin-left: 4%;
	margin-bottom: 15px;
}
.box2-right li h4{
	font-size: 15px;
	display: inline-block;
}
.box2-right li span{
	font-size: 15px;
	color: rgb(130, 130, 130);
}
.box2-right li p{
	position: relative;
	width: 32px;
	height: 32px;
	background: url(../img/social_icon_32x32.png) -64px -96px;
}
.qq1{
	position: absolute;
	top: 37px;
	left: -45px;
	background-color: white;
	width: 100px;
	padding: 10px;
	border: 1px solid #ccc;
	display: none;
}
.box2-right li:last-child p{
	position: relative;
	height: 36px;
	margin-left: -30px;	
	background: url(../img/social_icon_32x32.png) 0px -96px;
}
.vx1{
	position: absolute;
	top: 37px;
	left: -50px;
	background-color: white;
	width: 100px;
	padding: 10px;
	border: 1px solid #ccc;
	display: none;
}
.box2-right li:nth-child(9){
	width: 32px;
	margin-right:2%;
}
/*求学和工作经历*/
.box3{
	width: 100%;
	height: 1000px;
	background-color: #f5f8fd;
	overflow: hidden;
}
.box3-top{
	margin-top: 100px;
}
.box3-top h2{
	margin: 0 auto;
	width:308px;
	font-size: 44px;
	font-weight: normal;
	font-style: normal;
	border-bottom: 3px solid #febd01;
	margin-bottom: 80px;
}
.box3-con{
	width: 80%;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.box3-left{	
	left: -1000px;
}
.box3-right{	
	right: -1000px;
}
.box3-left,.box3-right{
	position: absolute;
	width: 48%;
	height: 500px;
	float: left;
	transition: all 1s ;
}
.box3-right{
	float: right;
}
.box3-left ul,.box3-right ul{
	width: 100%;
}
.box3-left li,.box3-right li{
	width: 100%;
	height: 300px;
	background-color: white;
}
.box3-left h2,.box3-right h2{
	width: 80px;
	font-size: 20px;
	font-style: normal;
	border-bottom: 2px solid #febd01;
	margin-bottom: 30px;
}
.box3-left span,.box3-right span{
	color: #fec308;
	margin:35px 45px 0px;
	font-size: 16px;
	float: left;
}
.qiu{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fec308;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	float: left;
	margin:35px 25px 0px 0px;
}
.line1{
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}
.line2{
	width: 1px;
	height: 220px;
	border-left: 2px solid #f1f1f1;
	position: absolute;
	top: 17px;
	left: 7px;
}
.ka{
	width: 50%;
	display: inline-block;
	height: 100px;
	float: left;
	margin:35px 0px 0px 0px;
}
.ka h3{
	font-size: 18px;
}
.ka p{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #828282;
	margin-bottom: 10px;
}
.ka h4{
	font-size: 1px;
	line-height: 30px;
	font-weight: normal;
	color: #828282;
}
/*专业技能*/
.box4{
	width: 100%;
	overflow: hidden
}
.box4-con{
	margin: 60px auto 120px;
	width: 90%;
	height: 500px;
}
.box4-con h3{
	display: inline-block;
}
.box4-con span{
	float: right;
	font-weight: 900;
}
.box4-left {	
	float: left;
	width: 40%;
	position: relative;
	display: inline-block;
	left: -1000px;
	transition: all 1s;
}
.box4-left h2{
	font-size: 44px;
	width: 176px;
	border-bottom: 5px solid #f7eccb;
	margin-bottom: 30px;
	font-weight: 500;
}
.box4-left h4{
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #6f6f6f;
	margin-bottom: 40px;
}
.jindu1,.jindu2,.jindu3,.jindu4,.jindu5{
	width: 100%;
	height:6px ;
	background-color: #eeeeee;
	margin-bottom: 30px;
}
.box4-left p{
	height:6px ;
	background-color: #febd01;
}
.jindu1 p{
	width: 95%;
}
.jindu2 p{
	width: 15%;
}
.jindu3 p{
	width: 15%;
}
.jindu4 p{
	width: 90%;
}
.jindu5 p{
	width: 50%;
}
.box4-right{
	width: 55%;
	float: right;
	position: relative;
	right: -1000px;
	transition: all 1s;
}
.box4-right img{
	width: 100%;
	max-width: 545px;
}
.box5{
	height: 500px;
	background-color: #23273c;
	overflow: hidden;
}
.box5-con{
	margin: 100px auto 0px;
	text-align: center;
	position: relative;
}
.box5-con h4{
	color: #e4b26f;
	font-size: 18px;
    font-weight: normal;
    font-style: normal;
}
.box5-con h2{
	font-size: 38px;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin-bottom: 50px;
}
.box5-con p{
	font-size: 18px;
	color: white;
	margin-bottom: 10px;
}
.myul{
	position: absolute;
	top: 220px;
	left: 50%;
	margin-left: -42px;
}
.myul li{
	float: left;
	position: relative;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	background: url(../img/social_icon_32x32.png) -64px -64px;
}
.qq2{
	position: absolute;
	top: 33px;
	left: -45px;
	width: 100px;	
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;	
	display: none;
}
.myul li:last-child{
	position: relative;
	background: url(../img/social_icon_32x32.png) 0px -64px;
}
.vx2{
	position: absolute;
	top: 33px;
	left: -45px;
	width: 100px;	
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	display: none;
}
.box6{
	position: fixed;
	width: 100%;
	background: rgb(255,255,255,0.8);	
	transition: all 0.5s;
}
.box6-top h2{
	float: left;
	line-height: 70px;
	margin-left: 4%;
	color: black;
}
.box6-top ul{
	list-style: none;
	float: right;
	line-height: 70px;
	margin-right:4%;
	color: white;
}
.box6-top li{
	color: black;
	float: left;
	margin-left: 40px;
	cursor: pointer;
}
@media  screen  and (max-width: 1020px) {
	.box6{
		display: none;
	}
	.box1-top{
		display: none;
	}
	.box1{
		height: 500px;
	}
	.box1-con {	   
	    top: 15%;
	}
	.box1-caidan{
		position: fixed;
		display: block;
		right: 20px;
		top: 20px;
		z-index: 99;
	}
	.box1-caidan p{
		color: white;	
		font-size: 30px;
	}
	.box1-caidan p:last-child{
		display: none;
	}
	.box1-cd{
		position: fixed;
		top: 0;
		right: -1200px;
		width: 100vw;
		height: 100vh;
		display: block;
		background-color: #000000;
		z-index: 98;
		transition: all 0.5s; 
	}
	.box1-cd li{		
		font-size: 20px;
		height: 100px;
		line-height: 100px;
		color: white;
		text-align: center;
		border-top: 1px solid white;		
	}
	.box1-cd li:last-child{
		border-bottom: 1px solid white;
	}
	.jj1 {
    	margin: 45px 0px 20px 50px;
    }
    .jj2 {
    	margin: 0px 0px 25px 50px;
    }
    .qq1,.vx1{ 
    	top: -145px;
    }
    .box2 {
    	padding-bottom: 15px;
    }
	.box2-left{
		display: none;
	}
	.box2-right{
		width: 90%;
		left: 50px;
	}	
	.box3{
		height: 1550px;
	}
	.box3-top {
	    margin-top: 30px;
	}
	.box3-top h2 { 
	    margin-bottom: 30px;
	}
	.box3-left, .box3-right {
	    position: absolute;
	    width: 100%;	   
	    float: none;
	}
	.box3-right {
		top: 690px;
	}
	.box3-left h2, .box3-right h2 {
	    width: 140px;
	    font-size: 30px;
	    font-weight: normal;
    }
    .ka h4 {
    	width: 400px;
    }
    .box4-right{
    	display: none;
    }
    .box4-con {
   	 	margin: 35px auto 120px;
   	 	width: 90%;
    	height: 407px;
    }
    .box4-left {   
   		 width: 100%;
   	}
    .box5 {
    	height: 280px;
    }
    body{
    	height: 3980px;
    }
    .box5-con {
   	 	margin: 30px auto 0px;
    }
    .box5-con h2 {	  
	    margin-bottom: 15px;
	}
	.myul {  
    	top: 160px;
    }
    .qq2 {	    
	    top: -47px;
	    left: -127px;	    
	}
	.vx2{
		 top: -47px;
	    left: 43px;	 
	}
}
@media  screen  and (max-width: 400px) {
	body{
		height: 3390px;
	}	
	.box1-con h1 {
	    margin-left: -190px;
	}
	.box1-con h3 {
	    margin-left: -183px;
	    font-size: 15px;
	}
	.jj1 {
	    margin: 25px 0px 20px 25px;
	}
	.jj2 {
	    margin: 0px 0px 25px 25px;
	}
	.box2-right {	   
	    left: 25px;
	}
	.box2-right li:nth-child(9) {
	    margin-right: 10%;
	}
	.qq1, .vx1 {
	    left: -16px;
	}
	.qiu {
	    top: -18px;
	    left: -110px;
	    float: none; 
	}
	.line2 {	   
	  display: none;	  	  
	}
	.ka{
		margin: -12px 0px 0px 20px;
	}
	.ka h4 {
	    width: 220px;
	    font-size: 12px;
	}
	.box2 {
	    padding-bottom: 45px;
	}
	.box2-right li span {
		display: block;
	}
	.box3 {
	    height: 1360px;
	}
	.box3-left span, .box3-right span {	    
	    margin: 15px 45px 0px;
	}
	.box3-right li:first-child {
		height: 145px;
	}
}	